body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f4f4f4;
}

h1, h2, h3 {
    color: #333;
}

#keyword {
    padding: 10px;
    margin-bottom: 20px;
    width: 200px;
}

#comments-section, #lda-section {
    margin-top: 20px;
    background-color: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    display: none; /* Initially hidden */
}

#comments-content {
    height: 300px; /* Adjustable based on your preference */
    overflow-y: auto;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    margin-top: 10px;
    padding: 10px;
}

.pagination {
    padding: 10px 0;
    text-align: center;
}

.pagination span {
    cursor: pointer;
    padding: 5px 10px;
    margin-right: 5px;
    border: 1px solid #ddd;
    background-color: #f8f8f8;
    transition: background-color 0.3s;
}

.pagination span:hover {
    background-color: #e9e9e9;
}

.pagination .active {
    font-weight: bold;
    text-decoration: underline;
    color: blue;
}

button {
    padding: 10px 20px;
    background-color: #0056b3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #003975;
}

iframe {
    border: none; /* Removes default border around iframes */
}
