/* Resetting some default browser styles */
element.style {
}

/* General body styles, including font and background settings */
body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f4f4f4;
    margin: 0; /* Reset default margin */
}

/* Uniform text colors for heading tags */
h1, h2, h3 {
    color: #333;
}

/* Styling for a specific keyword input field */
#keyword {
    padding: 10px;
    margin-bottom: 20px;
    width: 200px;
}

/* Common styles for comments and lda sections */
#comments-section, #lda-section {
    margin-top: 20px;
    background-color: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    display: none; /* These sections are initially hidden */
}

/* Style for the content within the comments section */
#comments-content {
    height: 300px; /* Adjustable based on your preference */
    overflow-y: auto;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    margin-top: 10px;
    padding: 10px;
}

/* Styling for pagination controls */
.pagination {
    padding: 10px 0;
    text-align: center;
}

.pagination span {
    cursor: pointer;
    padding: 5px 10px;
    margin-right: 5px;
    border: 1px solid #ddd;
    background-color: #f8f8f8;
    transition: background-color 0.3s;
}

.pagination span:hover {
    background-color: #e9e9e9;
}

.pagination .active {
    font-weight: bold;
    text-decoration: underline;
    color: blue;
}

/* Button styling */
button {
    padding: 10px 20px;
    background-color: #0056b3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #003975;
}

/* Iframe styling to remove default border */
iframe {
    border: none;
}

/* Custom scrollbar styling for modern aesthetic and improved usability */
::-webkit-scrollbar {
    height: 8px;
    width: 8px;
}

::-webkit-scrollbar-button {
    height: 0;
    width: 0;
}

::-webkit-scrollbar-corner {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #e0e0e0;
    border-radius: 4px;
}

::-webkit-scrollbar-track {
    background: #f8f8f8;
    border-radius: 4px;
}
